# Dossiers générés par l'app
partitions/
midi/

# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.suo

# OS
.DS_Store
Thumbs.db
desktop.ini
